{% extends '_layouts/base' %}
{% import '_includes/forms' as forms %}
{% do view.registerAssetBundle('jorenvanhee\\templateguard\\AssetBundle') %}

{% set title = 'Login' %}
{% set bodyClass = 'login-page' %}
{% set error = craft.app.session.getFlash('error') %}

{% block body %}
    <main class="login-block">

        <h1 class="login-title">
            {{ 'Protected'|t('template-guard') }}
        </h1>

        <form
            id="login-form"
            method="post"
            action="{{ craft.templateGuard.loginFormAction() }}"
        >

            {{ csrfInput({ name: 'csrf-token' }) }}

            {{ forms.passwordField({
                id: 'password',
                name: 'password',
                placeholder: 'Password'|t('template-guard'),
                autocomplete: 'current-password',
                inputAttributes: {
                    aria: {
                        label: 'Password'|t('template-guard'),
                        required: 'true',
                    },
                },
            }) }}

            <div class="buttons">
                <button id="submit" class="btn submit" type="submit">
                    {{ 'Login'|t('template-guard') }}
                </button>
            </div>
        </form>


        {% if error %}
            <div id="login-errors" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}

    </main>
{% endblock %}
