{% do craft.templateGuard.protect('password', 'guard-key') %}

<h1>Protected page</h1>

<form method="post">
    {{ csrfInput() }}
    {{ actionInput('template-guard/sessions/delete') }}

    <button
        type="submit"
        id="log_out"
    >Log out</button>
</form>

<form method="post">
    {{ csrfInput() }}
    {{ actionInput('template-guard/sessions/delete') }}
    <input type="hidden" name="key" value="guard-key">

    <button
        type="submit"
        id="log_out_specific_key"
    >Log out specific key</button>
</form>

<form method="post">
    {{ csrfInput() }}
    {{ actionInput('template-guard/sessions/delete') }}
    <input type="hidden" name="key" value="incorrect-key">

    <button
        type="submit"
        id="log_out_incorrect_key"
    >Log out incorrect key</button>
</form>
